.DiceGame{
    padding: 40px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.103);
}

button{
    background-color: rgb(114, 23, 145);
    color: white;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.203);
    transition: 0.3s ease all;
}

button:active{
    transform: scale(0.9);
}



